*{
    margin: 0 auto;
    padding:0 auto;
    background-color: black;
    width:400px;
    height: 800px;
}

input{
    border-top:1px;
    background-color: rgb(0, 0, 0);
    color:white;
    text-transform: capitalize;
    border-left: 0;
    border-right: 0;
    width:300px;
    margin-top:40px;
    height:25px;
    font-size: medium;
    outline:none;
    font-family:Arial, Helvetica, sans-serif;
}
input:hover{
    border-color: blue;
}
input#mes{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right:0;
}
textarea{
    border-top: 0;
    border-left:0;
    border-right:0;
    text-transform: capitalize;
    background-color: black;
    width: 310px;
    height:120px;
    color: white;
    outline:none;
}
textarea:hover{
    border-color: blue;
}
#sub{
background-color: blue;
color: white;
border:0;
width:70px;
height:25px;
text-transform: capitalize;
font-family: Arial, Helvetica, sans-serif;
border-radius: 6px;
}
#reset{
    background-color: rgb(126, 126, 126);
    color: rgb(0, 0, 0);
    border:0;
    width:70px;
    height:25px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:10px;
    border-radius: 6px;
    }
    #sub:hover{
        background-color:gray;
        color: black
    }
    #reset:hover{
        background-color:blue;
        color:white; 
    }